<div class="row">

	<div class="col-lg-8 newForm">
<p><strong>Title:</strong>

	<%=@post.title%>



</p>


<p><strong>Text:</strong>

	<%=@post.text%>



</p>



	</div>


	<div class="col-lg-4 newForm">



	</div>


</div>